<h1>Editing paper</h1>
 
<%= form_for :paper, url: "#{papers_path}/#{@paper.id}", method: :patch do |f| %>
 
  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@paper.errors.count, "error") %> prohibited
        this paper from being saved:
      </h2>
      <ul>
        <% @paper.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

    <p>
    <%= f.label "Author 1", for: "paper_author_id_1" %><br>
    <%= f.collection_select :author_ids, Author.all, :id, :name, {selected: @paper.author_ids[0], include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_1"}%>
  </p>

      <p>
    <%= f.label "Author 2", for: "paper_author_id_2" %><br>
    <%= f.collection_select :author_ids, Author.all, :id, :name, {selected: @paper.author_ids[1], include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_2"}%>
  </p>

      <p>
    <%= f.label "Author 3", for: "paper_author_id_3" %><br>
    <%= f.collection_select :author_ids, Author.all, :id, :name, {selected: @paper.author_ids[2], include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_3"}%>
  </p>

      <p>
    <%= f.label "Author 4", for: "paper_author_id_4" %><br>
    <%= f.collection_select :author_ids, Author.all, :id, :name, {selected: @paper.author_ids[3], include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_4"}%>
  </p>

      <p>
    <%= f.label "Author 5", for: "paper_author_id_5" %><br>
    <%= f.collection_select :author_ids, Author.all, :id, :name, {selected: @paper.author_ids[4], include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_5"}%>
  </p>
 
  <p>
    <%= f.submit :"Save Paper" %>
  </p>
 
<% end %>
 